body{
    background: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    width:100%;
    display:grid;
    grid-template-areas: "div1 div1 div1 div1" "div2 div2 div2 div2" "div3 div3 div3 div3" "div4 div4 div4 div4";       
    height:100%;
    background: #e4c82e;
    color: #fafafa;
    justify-content: center;
    grid-gap: 2em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}



.entry{
    background: rgba(59, 74, 107, .4);
   /*float:right;
    display:inline-block;
    position:relative;
    top:60%;
    right:2%;*/
    grid-area:div4;
    
}

#entryHolder{
    background:#22b2da;
    height:auto;
    
}

#date{
 color:yellow;
}

#temp{
    color:antiquewhite;
font-style: italic;
}

#content{
color:moccasin;
}
.zip {
    grid-area:div2;
    
}
.feel{
        grid-area:div3;

}
.headline {
height:10vh;
    vertical-align: middle;
    text-align: center;
    margin:0 auto;
    padding-top:10%;
        font-size:2em;
    grid-area: div1;
}

#handlermessage{
    color:black;
    font-weight:bold;
}
.title{
background: 22b2da;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
